* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2d2d9e;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background-color: #9e2424;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    margin-top: 60px;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#sobre {
    background-color: #378e70;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(176, 186, 122, 0.444);
    margin-bottom: 40px;
}

.sobre-mim {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sobre-mim img {
    width: 190px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.sobre-mim p {
    font-size: 18px;
    line-height: 1.8;
    color: #ffffff;
    max-width: 700px;
    text-align: justify;
    margin-top: 15px;
}

#projetos {
    background-color: #66bf00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projetos h2 {
    color: #ffffff;
    font-weight: bold;
}

.projetos-academicos h3 {
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #2a195d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.projetos-academicos .projeto-1 {
    background-color: #2a195d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projetos-academicos .projeto-1 h4 {
    color: #ffffff;
}

.projetos-academicos .projeto-1 p {
    margin: 10px 0;
    color: #ffffff;
}

.projetos-academicos .projeto-1 a {
    color: #57d293;
    text-decoration: none;
    font-weight: bold;
}

.projetos-academicos .projeto-2 {
    background-color: #2a195d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projetos-academicos .projeto-2 h4 {
    color: #ffffff;
}

.projetos-academicos .projeto-2 p {
    margin: 10px 0;
    color: #ffffff;
}

.projetos-academicos .projeto-2 a {
    color: #57d293;
    text-decoration: none;
    font-weight: bold;
}

#redes {
    background-color: #66bf00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#redes h2 {
    color: #ffffff;
    font-weight: bold;
}

#projetos-pessoais {
    background-color: #66bf00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projetos-pessoais h2 {
    color: #ffffff;
    font-weight: bold;
}

#experiencia {
    background-color: #66bf00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#experiencia h2 {
    color: #ffffff;
    font-weight: bold;
}

#passatempos {
    background-color: #66bf00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#passatempos h2 {
    color: #ffffff;
    font-weight: bold;
}

.redes-sociais h3 {
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #2a195d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.redes-sociais .minhas-redes-sociais {
    background-color: #2a195d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.redes-sociais .minhas-redes-sociais h4 {
    color: #ffffff;
}

.redes-sociais .minhas-redes-sociais p {
    margin: 10px 0;
    color: #ffffff;
}

.redes-sociais .minhas-redes-sociais img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.imagens-contatos img:hover {
    transform: scale(1.1);
}

.redes-sociais .minhas-redes-sociais a {
    color: #66bf00;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #9e2424;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .sobre-mim {
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim img {
        width: 150px;
        height: 150px;
    }

    .sobre-mim p {
        max-width: 600px;
    }

    #sobre h2 {
        text-align: center;
    }

    .projeto {
        background-color: #2a195d;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .projeto h4 {
        color: #ffffff;
    }

    .projeto p {
        margin: 10px 0;
    }

    .projeto a {
        color: #57d293;
        text-decoration: none;
        font-weight: bold;
    }

    h3 {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .sobre-mim {
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim img {
        width: 120px;
        height: 120px;
    }

    #projetos-academicos {
        margin-top: 20px;
    }

    footer {
        background-color: #9e2424;
        color: white;
        padding: 20px;
        text-align: center;
    }

    footer p {
        margin-bottom: 10px;
    }

    footer a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}